/* Importar la fuente Montserrat */
@font-face {
    font-family: 'Montserrat'; /* Prueba 3, nueva fuente */
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Ruta de la fuente descargada */
    font-weight: 100 900; 
    font-style: normal; 
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Encabezado superior */
.header-top {
    background-color: rgb(168, 20, 20); 
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px 20px;
    border-bottom: 2px solid rgb(94, 14, 14);
    font-family: 'Montserrat', Arial, sans-serif; 
    position: relative; 
}

/* CODDIS */
.logo-section {
    font-size: 40px;
    color: white;
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

/* Botón de búsqueda */
.search-button {
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 14px; 
    padding: 8px 20px; 
    background-color: rgb(168, 20, 20); 
    color: white; 
    border: 1px solid orange; 
    border-radius: 25px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    text-transform: uppercase; 
    position: absolute; 
    right: 150px;
    top: 50%; 
    transform: translateY(-50%); 
}

.search-button:hover {
    background-color: rgb(94, 14, 14); 
    color: white;
    transition: all 0.3s ease; 
}

/* Menú de navegación  */
nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    background-color: rgb(94, 14, 14); 
    margin: 0; 
    padding: 10px 0; 
}

nav ul li a {
    font-family: 'Montserrat', Arial, sans-serif; 
    font-weight: 500; 
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 8px 12px; 
    transition: color 0.3s, background-color 0.3s; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: white; 
}

main {
    margin-top: 80px; 
    text-align: center; 
    padding: 20px;
}

main h1 {
    font-size: 28px;
    color: rgb(94, 14, 14); 
    margin-bottom: 20px;
}

main p {
    font-size: 16px;
    color: #333; 
    line-height: 1.6;
}

#parrafo{
    font-size: 14pt; /* Tamaño de fuente de 12 puntos */
    text-align: start;
    margin: 5%;

}

#contenedor-seccion{
    margin: 2%;
    text-align: start;
}