/* Reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Contenedor del encabezado principal */
.header-index {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Logos a la izquierda y botón a la derecha */
    padding: 10px 20px;
    background-color: #f2f2f2; /* Fondo claro del encabezado */
}

/* Contenedor de los logos */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 30px; /* Tamaño pequeño para los logos */
    width: auto; /* Mantiene la proporción del logo */
    margin-right: 10px; /* Espaciado entre los logos */
}

/* Botón de búsqueda */
.search-button {
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    padding: 8px 20px; 
    background-color: #C8102E; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #940000; 
}z

/* Barra de Navegación */
nav {
    background-color: #C8102E;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Encabezado Principal */
header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    color: #C8102E;
}

h2 {
    color: black;
    text-align: center;
}

/* Contenido Principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main section {
    margin-bottom: 20px;
}

/* Pie de Página */
footer {
    background-color: #C8102E;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Contenedor de Recuadros */
.contenedor-recuadros {
    display: inline-flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.recuadro {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.img_recuadro {
    display: flexbox;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 120px;
}
